:root {
    --initial-gradient-background: #EEEEEE;
    --light-color: #FFFFFF;
    --color-send-disabled: #9E9E9E;
    --display: #262A34;
    --display-disable: #DDDDDD;
    --text-input: #222222;
    --disable-input: #F5F5F5;;
    --success: #32BF00;
    --error: #CC3300;
    --orange-100: #FF6600;
    --orange-200: #EF6C00;
    --orange-300: #DB6300;
    --orange-400: #C0661C;
    --gray-200: #CFCFCF;
    --gray-300: #9E9E9E;
    --gray-400: #434854;
}

@media(prefers-color-scheme: dark) {
    :root {
        --initial-gradient-background: #0e0e0e;
        --display: #E2E2E2;
        --color-send: #9E9E9E;
        --color-send-disabled: #4f4f4f;
        --display-disable: #282828;
        --disable-input: #2f2f2f;;
        --light-color: #101010;
        --text-input: #FFFFFF;
        --gray-200: #434854;
    }
}