@import '../styles/colors.css';

.msgAndDisplay {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#display {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
}

.segment-display {
    height: 12px;
    border-radius: 5px;
    background-color: var(--display);  
}

#segment-a {
    clip-path: polygon(2% 0%, 98% 0%, 76% 100%, 24% 100%);
    width: 55px;
}

#segment-b {
    clip-path: polygon(2% 0%, 98% 0%, 84% 100%, 26% 100%);
    width: 50px;
    transform: rotateZ(90deg);
    position: relative;
    top: 7px;
    left: 24px;
}

#segment-c {
    clip-path: polygon(2% 0%, 98% 0%, 74% 100%, 16% 100%);
    width: 50px;
    transform: rotateZ( 90deg);
    position: relative;
    top: 45px;
    left: 24px;
}

#segment-d {
    clip-path: polygon(2% 0%, 98% 0%, 76% 100%, 24% 100%);
    transform: rotateZ(180deg);
    position: relative;
    top: 52px;

}

#segment-e {
    clip-path: polygon(2% 0%, 98% 0%, 84% 100%, 26% 100%);
    width: 50px;
    transform: rotateZ(-90deg);
    position: relative;
    top: 21px;
    right: 19px;
}

#segment-f {
    clip-path: polygon(2% 0%, 98% 0%, 74% 100%, 16% 100%);
    width: 50px;
    transform: rotateZ(-90deg);
    position: relative;
    right: 19px;
    bottom: 41px;
}

#segment-g {
    position: relative;
    bottom: 28px;
    z-index: -1;
    clip-path: polygon(2% 50%, 22% 0%, 78% 0%, 98% 50%,78% 100%,22% 100%);
}

#ten {
    margin: 0 10px;
}

.segment-color-default {
    background-color: var(--display);
}

.segment-disable {
    background-color: var(--display-disable);
}

.segment-success {
    background-color: var(--success);
}

.segment-error {
    background-color: var(--error);
}

.msg-color-success {
    color: var(--success);
}

.msg-color-error {
    color: var(--error);
}

.msg-color-default {
    color: var(--orange-100);
}

.msg-display {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -1px;   
    height: 42px;

}

.msg-display-success {
    color: var(--success);    
}

.msg-display-error {
    color: var(--error);    
    text-transform: uppercase;
}

/* @media(min-width: 600px) {
    .msg-display {
        transform: scale(1.2);
    } 
} */
