@import '../styles/colors.css';

body {
    background: linear-gradient(var(--initial-gradient-background), var(--end-gradient-background));
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 365px;
    height: 588px;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(var(--orange-200), var(--orange-300));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.title-line {
    width: 56%;
    margin: 5px 0;
    border: solid 1px var(--gray-200);
}

.container-display {
    width: 55px;
    height: 100px;
}


.container-actions {
    width: 298px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-input {
    height: 42px;
    width: 298px;
    display: flex;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
    width: 217px;
    height: 42px;
    background: var(--light-color);
    border: 1px solid var(--gray-200);
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 11px;
    padding: 0 12px;
}

.input:focus-visible, .input:focus {
    border: solid 1px var(--orange-100);
    outline: 0;
}

input::placeholder {
    color: var(--gray-300);
}

.disable-input {
    background: var(--gray-100);
    pointer-events: none;
}