@import url('https://fonts.googleapis.com/css2? family = Montserrat: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1.300; 1.400; 1.500; 1.600; 1.700; 1.800; 1.900 & display = trocar ');
@import '../styles/colors.css';

body {
    background: linear-gradient(var(--initial-gradient-background),#fff);
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 365px;
    height: 588px;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(#EF6C00,#DB6300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.title-line {
    width: 56%;
    margin: 5px 0;
    border: solid 1px #CFCFCF;
}

.container-display {
    width: 55px;
    height: 100px;
}


.container-actions {
    width: 298px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-input {
    height: 42px;
    width: 298px;
    display: flex;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
    width: 217px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 11px;
    padding: 0 12px;
}

.input:focus-visible, .input:focus {
    border: solid 1px #FF6600;
    outline: 0;
}

input::placeholder {
    color: #9E9E9E;
}

.button {
    height: 42px;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.icon-new-game {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: solid 2px white ;
    border-right: solid 2px transparent;
    margin-right: 5px;
}

.arrow {
    width: 6px;
    height: 6px;
    background-color: white;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: relative;
    left: 6px;
    bottom: 2px;
}

.button-new-game {
    background: linear-gradient(#9E9E9E,#434854);
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.button-send {
    background: linear-gradient(#EF6C00,#C0661C);
    width: 70px;

}